# Python
__pycache__/
*.py[cod]

# Virtual environments
venv/
env/
.venv/

# Environment variables
.env

# Database
db.sqlite3

# VS Code
.vscode/

# PyCharm
.idea/

# Static files
staticfiles/

# OS files
.DS_Store
Thumbs.db